<%- include('./common/head2.ejs') %> <%- include('./common/nav.ejs') %>
<link rel="stylesheet" href="/css/community-main.css" />
<body lang="ar">
	<div class="main row">
		<div class="col-md-6 lessons-container">
			<div class="lessons">
				<a href=""
					><div class="dashboard row" dir="rtl">مساعدة من طلاب منفوقين</div></a
				>
				<a href=""><div class="dashboard row" dir="rtl">شاركنا تجاربك</div></a>
			</div>
		</div>
		<div class="col-md-6 col-container">
			<div class="dash-comm-teach-container">
				<a href=""><div class="dashboard row" dir="rtl">نصائح دراسية</div></a>
				<a href=""><div class="dashboard row" dir="rtl">دردشة</div></a>
			</div>
		</div>
	</div>
</body>
<%- include('./common/scripts.ejs') %>
