<%- include("./common/head2.ejs") %> <%- include("./common/nav.ejs") %>
<link rel="stylesheet" href="/css/error.css" />
<body>
  <div class="card card-container text-center">
    <div class="text-container">
      <div class="card-body">
        <h1 class="card-title card-heading">Opps</h1>
        <br />
        <p class="card-text">
          The page you were looking for doesn't exist anymore.
        </p>
        <a href="#" class="btn btn-primary">BACK TO HOME</a>
      </div>
    </div>
  </div>
</body>
