<%- include('./common/head2'); -%> <%- include('./common/nav'); -%> <%-
include('./common/push-down'); -%><!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>إجتماع و إقتصاد</title>
  <link rel="stylesheet" href="/css/cards.css">
</head>
<body>
  <div style="margin-top: 12vh;">

<div class="main">
<div class="glass-block card" >
    <div class="card-body">
      <h5 class="card-title">Economics</h5>
      <p class="card-text">إقتصاد-إجتماع و إقتصاد</p>
      <a href="/es/economics" class="btn">دخول</a>

    </div>
  </div>
<div class="glass-block card" >
    <div class="card-body">
      <h5 class="card-title">Sociology</h5>
      <p class="card-text">إجتماع-إجتماع و إقتصاد</p>
      <a href="/es/economics" class="btn">دخول</a>


    </div>
  </div>
  <div class="glass-block card" >
    <div class="card-body">
      <h5 class="card-title">Physics</h5>
      <p class="card-text">فيزياء-إجتماع و إقتصاد</p>
      <a href="/es/economics" class="btn">دخول</a>


    </div>
  </div>
<div class="glass-block card" >
    <div class="card-body">
      <h5 class="card-title">Biology</h5>
      <p class="card-text">بيولوجي-إجتماع و إقتصاد</p>
      <a href="/es/economics" class="btn">دخول</a>


    </div>
  </div>
<div class="glass-block card" >
    <div class="card-body">
      <h5 class="card-title">Mathematics</h5>
      <p class="card-text">رياضيّات-إجتماع و إقتصاد</p>
      <a href="/es/economics" class="btn">دخول</a>

    </div>
  </div>

<div class="glass-block card" >
    <div class="card-body">
      <h5 class="card-title">Chemistry</h5>
      <p class="card-text">كيمياء-إجتماع و إقتصاد</p>
      <a href="/es/economics" class="btn">دخول</a>


    </div>
  </div>
<div class="glass-block card" >
    <div class="card-body">
      <h5 class="card-title">اللّغة العربيّة</h5>
      <p class="card-text">اللغة العربية-إجتماع و إقتصاد</p>
      <a href="/es/economics" class="btn">دخول</a>


    </div>
  </div>
<div class="glass-block card" >
    <div class="card-body">
      <h5 class="card-title">English</h5>
      <p class="card-text">اللغة الأجنبية-إجتماع و إقتصاد</p>
      <a href="/es/economics" class="btn">دخول</a>


    </div>
  </div>
<div class="glass-block card" >
    <div class="card-body">
      <h5 class="card-title">جغرافيا</h5>
      <p class="card-text">جغرافيا-إجتماع و إقتصاد</p>
      <a href="/es/economics" class="btn">دخول</a>

    </div>
  </div>
<div class="glass-block card">
    <div class="card-body">
      <h5 class="card-title">تربية وطنيّة</h5>
      <p class="card-text">تربية وطنيّة-إجتماع و إقتصاد</p>
      <a href="/es/economics" class="btn">دخول</a>


    </div>
  </div>
<div class="glass-block card" >
    <div class="card-body">
      <h5 class="card-title">فلسفة</h5>
      <p class="card-text">فلسفة-إجتماع و إقتصاد</p>
      <a href="/es/economics" class="btn">دخول</a>


    </div>
  </div>
<div class="glass-block card">
    <div class="card-body">
      <h5 class="card-title">تاريخ</h5>
      <p class="card-text">تاريخ-إجتماع و إقتصاد</p>
      <a href="/es/economics" class="btn">دخول</a>


    </div>
  </div>
</div>
<% if(typeof user != 'undefined') { %>
    <a href=""> You are not logged in</a>
    <% } %>
      
</body>
</html>