<%- include('./common/head2'); -%> <%- include('./common/nav'); -%> <%-
include('./common/push-down'); -%>
<link rel="stylesheet" href="/css/cards.css" />
<title>علوم عامّة</title>
<body>
  <div class="main">
    <div class="glass-block card">
      <div class="card-body">
        <h5 class="card-title">Mathematics</h5>
        <p class="card-text">رياضيّات-علوم عامّة</p>
        <a href="/gs/math" class="btn cards-gs-button">دخول</a>
      </div>
    </div>
    <div class="glass-block card">
      <div class="card-body">
        <h5 class="card-title">Physics</h5>
        <p class="card-text">فيزياء-علوم عامّة</p>
        <a href="/gs/physics" class="btn cards-gs-button">دخول</a>
      </div>
    </div>
    <div class="glass-block card">
      <div class="card-body">
        <h5 class="card-title">Chemistry</h5>
        <p class="card-text">كيمياء-علوم عامّة</p>
        <a href="/gs/chemistry" class="btn cards-gs-button">دخول</a>
      </div>
    </div>
    <div class="glass-block card">
      <div class="card-body">
        <h5 class="card-title">اللّغة العربيّة</h5>
        <p class="card-text">لغة عربية-علوم عامّة</p>
        <a href="/gs/arabic" class="btn cards-gs-button">دخول</a>
      </div>
    </div>
    <div class="glass-block card">
      <div class="card-body">
        <h5 class="card-title">English</h5>
        <p class="card-text">لغة أجنبية-علوم عامّة</p>
        <a href="/gs/english" class="btn cards-gs-button">دخول</a>
      </div>
    </div>
    <div class="glass-block card">
      <div class="card-body">
        <h5 class="card-title">جغرافيا</h5>
        <p class="card-text">جغرافيا-علوم عامّة</p>
        <a href="/gs/geography" class="btn cards-gs-button">دخول</a>
      </div>
    </div>
    <div class="glass-block card">
      <div class="card-body">
        <h5 class="card-title">تربية وطنيّة</h5>
        <p class="card-text">تربية وطنية-علوم عامّة</p>
        <a href="/gs/civilization" class="btn cards-gs-button">دخول</a>
      </div>
    </div>
    <div class="glass-block card">
      <div class="card-body">
        <h5 class="card-title">فلسفة</h5>
        <p class="card-text">فلسفة-علوم عامّة</p>
        <a href="/gs/philosophy" class="btn cards-gs-button">دخول</a>
      </div>
    </div>
    <div class="glass-block card">
      <div class="card-body">
        <h5 class="card-title">تاريخ</h5>
        <p class="card-text">تاريخ-علوم عامّة</p>
        <a href="/gs/history" class="btn cards-gs-button">دخول</a>
      </div>
    </div>
  </div>
</body>