<%- include('./common/head2'); -%> <%- include('./common/nav'); -%> <%-
include('./common/push-down'); -%>
<link rel="stylesheet" href="/css/cards.css" />
<title>علوم حياة</title>
<body>
  <div class="main">
    <div class="glass-block card">
      <div class="card-body">
        <h5 class="card-title">Biology</h5>
        <p class="card-text">بيولوجي-علوم حياة</p>
        <a href="/ls/biology" class="btn cards-gs-button">دخول</a>
      </div>
    </div>
    <div class="glass-block card">
      <div class="card-body">
        <h5 class="card-title">Mathematics</h5>
        <p class="card-text">رياضيّات-علوم حياة</p>
        <a href="/ls/math" class="btn cards-gs-button">دخول</a>
      </div>
    </div>
    <div class="glass-block card">
      <div class="card-body">
        <h5 class="card-title">Physics</h5>
        <p class="card-text">فيزياء-علوم حياة</p>
        <a href="/ls/physics" class="btn cards-gs-button">دخول</a>
      </div>
    </div>
    <div class="glass-block card">
      <div class="card-body">
        <h5 class="card-title">Chemistry</h5>
        <p class="card-text">كيمياء-علوم حياة</p>
        <a href="/ls/chemistry" class="btn cards-gs-button">دخول</a>
      </div>
    </div>
    <div class="glass-block card">
      <div class="card-body">
        <h5 class="card-title">اللّغة العربيّة</h5>
        <p class="card-text">لغة عربية-علوم حياة</p>
        <a href="/ls/arabic" class="btn cards-gs-button">دخول</a>
      </div>
    </div>
    <div class="glass-block card">
      <div class="card-body">
        <h5 class="card-title">English</h5>
        <p class="card-text">لغة أجنبية-علوم حياة</p>
        <a href="/ls/english" class="btn cards-gs-button">دخول</a>
      </div>
    </div>
    <div class="glass-block card">
      <div class="card-body">
        <h5 class="card-title">جغرافيا</h5>
        <p class="card-text">جغرافيا-علوم حياة</p>
        <a href="/ls/geography" class="btn cards-gs-button">دخول</a>
      </div>
    </div>
    <div class="glass-block card">
      <div class="card-body">
        <h5 class="card-title">تربية وطنيّة</h5>
        <p class="card-text">تربية وطنية-علوم حياة</p>
        <a href="/ls/civilization" class="btn cards-gs-button">دخول</a>
      </div>
    </div>
    <div class="glass-block card">
      <div class="card-body">
        <h5 class="card-title">فلسفة</h5>
        <p class="card-text">فلسفة-علوم حياة</p>
        <a href="/ls/philosophy" class="btn cards-gs-button">دخول</a>
      </div>
    </div>
    <div class="glass-block card">
      <div class="card-body">
        <h5 class="card-title">تاريخ</h5>
        <p class="card-text">تاريخ-علوم حياة</p>
        <a href="/ls/history" class="btn cards-gs-button">دخول</a>
      </div>
    </div>
  </div>
</body>
<% if(typeof user != 'undefined') { %>
    <a href=""> You are not logged in</a>
    <% } %>
