<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>pdf viewer</title>
</head>

<body style="height: 100vh;"><script src="/PDFJSExpress-view-only/lib/webviewer.min.js"></script>
<div id='viewer' style="width :1024px; height:600px; margin:0 auto"></div>
<script>
  WebViewer({
    path: '/PDFJSExpress-view-only/lib', // path to the PDF.js Express'lib' folder on your server
    licenseKey: 'H9h4459y2J5rnmldT34z',
    initialDoc: '/shamel/2021.pdf',
    // initialDoc: '/path/to/my/file.pdf',  // You can also use documents on your server
  }, document.getElementById('viewer'))
  .then(instance => {
    // now you can access APIs through the WebViewer instance
    const { Core, UI } = instance;

    // adding an event listener for when a document is loaded
    Core.documentViewer.addEventListener('documentLoaded', () => {
      console.log('document loaded');
    });

    // adding an event listener for when the page number has changed
    Core.documentViewer.addEventListener('pageNumberUpdated', (pageNumber) => {
      console.log(`Page number is: ${pageNumber}`);
    });
  });
</script>
</body>
</html>