<%- include('./common/head2'); -%>
<form action="teachers-info" method="post">
  <input type="number" name="price" placeholder="price per hour" />
  <input type="text" name="materials" placeholder="materials" />
  <input type="text" name="number" placeholder="years experience" />
  <input type="text" name="certificate" placeholder="certificate" />
  <button type="submit">Submit</button>
</form>
