<link rel="stylesheet" href="/css/footer.css" />
	<body>
	    
		<!-- Footer -->
		<section class="footer">
			<div class="row justify-content-end">
				<div class="col-2">
					<ul class="footer-list">
						<li>Links</li>
						<li>About</li>
						<li>Overview</li>
						<li>Teachers</li>
						<li>Join Us</li>
					</ul>
				</div>
				<div class="col-2">
					<ul class="footer-list">
						<li>Contact</li>
						<li>Mail Us</li>
					</ul>
				</div>
				<div class="col-2">
					<i class="fa-regular fa-envelope fa-4x"></i>
					<i class="fa-brands fa-instagram fa-4x"></i>
				</div>
			</div>
		</section>
	</body>
</html>