<link rel="stylesheet" href="/css/nav.css" />
<body>
  <!-- Nav Bar -->

  <div class="container-fluid start-nav bg-mainColor">
    <div class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="#"
        ><img
          src="/images/IamTerminal_logo_titleless_green.svg"
          alt="Iamterminal-logo"
          class="nav-brand-logo"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="offcanvas offcanvas-end"
        tabindex="-1"
        id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel"
      >
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Iamterminal</h5>
          <button
            type="button"
            class="btn-close text-reset"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/branches">Branches</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/privateTeacher">Tutors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/top-users">Top Users</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item register-button">
              <a href="/signup">
                <button class="btn btn-dark">Register</button></a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>
