<%- include('../common/head2.ejs') %> <%- include('../common/nav.ejs') %> 
<body data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0">
    <div class="main aos-init aos-animate" data-aos="fade-down" data-aos-delay="300" data-aos-duration="600">
        <a class="az" href="#content" data-aos="zoom-in" data-aos-delay="800" data-aos-duration="400" >
            مهارة الحفظ
        </a>
    </div>
    <div class="content" id="content">
        <h2 data-aos="fade-up">
            خطوات الحفظ
        </h2>
        <br>
        <div   data-aos="flip-right" data-aos-duration="400" data-aos-delay="00">
            <span class="highlight">تصفّح الدرس</span> <br>
            <div>
                تعرّف على عناوين الدرس وافكاره الاساسية، مش انو تقرا كل الدرس بس تفرّج عالعناوين الفرعية <span class="background">والاسماء والكلمات المهمة</span>، كأنو عم تعمل فهرس للدرس جوات عقلك
            </div>
            <div>
                بناء عهيدا الفهرس قسم الدرس لكذا قسم لتحفظو
            </div>
            <div>
                شوف حجم الدرس وصعوبته
            </div>
            <div>
                قدّر اديش بدو منك وقت، بكل خطوة عيّر اديش ح تاخد معك وقت الخطوة
            </div>
        </div>
        <br>
        <div data-aos="flip-right" data-aos-duration="400" data-aos-delay="300">
            <span class="highlight">ترسيخ الأفكار</span><br>اول قسم من الدرس (مش انت قسمتو لعناوين بالفهرس الذهني) هو مكتوب باللغة الفصحى بس اقرا بالعامية. لترسخ الفكرة ببالك اسهل،<span class="background">ركز عالكلمات المفتاحية</span>.
        </div>
        <br>
        <div data-aos="flip-right" data-aos-duration="400" data-aos-delay="500">
            <span class="highlight">الشرح</span><br>هلق سمّع لحالك بالعامية، مش المطلوب تسمعو كلمة كلمة المطلوب تحكي عن شو  هالقسم وكأنك عم <span class="background">تشرح لشخص قدامك</span> الفكرة العامة الو (لو بكون في شخص موجود عم تشرحلو فعلا بكون احسن).
        </div>
        <br>
        <div data-aos="flip-right" data-aos-duration="400" data-aos-delay="700">
            <span class="highlight">التسميع</span><br>
            <div>
            هلق انت والكتاب بايدك، <span class="background">سمع لحالك،</span> "مع زعبرة" متل املأ فراغات جملك من الكتاب، لانو في تفاصيل كتير ما حفظتها .
            </div>
            <div>
                هلق اقرا مرة بتركيز عالتفاصيل، لتكمل الفراغات بجملك
            </div>
            <div>
                لما تحفظ بهالطريقة كل اقسام الدرس، <span class="background">راجع الفهرس الذهني</span>، استرجعو، سمعو <br>
                العناوين الرئيسية &larr; العناوين الفرعية &larr; افكار كل قسم الرئيسية
            </div>
        </div>
        <br>
        <div style="font-size:1.2em;" data-aos="flip-right" data-aos-duration="400" data-aos-delay="900">
            بهالطريقة، انت فهمان الدرس، عن شو بيحكي، ومنظمو بقلب عقلك، قبل الامتحان، مطلوب منك بس انو تذكّر عقلك باسم الدرس، الافكار والكلمات المفتاحية في حسب الفهرس، وهوي بلاقيلك ياه بقلب المخزن بسهولة لانو مخزّن منظم
        </div>
        <br>
        <h2 data-aos="flip-up" data-aos-duration="400" data-aos-delay="200">
            الخلاصة
        </h2>
        <br>
        <div style="padding-bottom: 10vh;" data-aos="flip-right" data-aos-duration="400" data-aos-delay="400">
            هاي طريقة فعالة اكتر من الطريقة التقليدية اللي فكرتها ببساطة الحشو بالمعنى الحرفي (اقرا حتى يفوت بمخك) بس مش طريقة سحرية، متل حيلا شي، مش رح تطلع نتيجتها باول درس دغري، هيي طريقة <span class="background">بدها ممارسة وتدرب،</span> بس اذا بلشت من هلق تحفظ دروسك بهالطريقة تأكد انو لقدام الدرس ح يكون اسهل واقل وقت
        </div>
<style>
    * {
        font-family: "Changa", sans-serif;
        scroll-behavior: smooth;
        margin: 0;
    }

    div>div{
        padding: 2vh;
    }

    div>h2{
        padding: 1vh;
        color: rgb(255, 1, 77);
        font-size: 1.5em;
    }

    .highlight{
        color: rgb(255,1,77);
        padding-right: 1vh;
        border-right-style: solid;
        border-color: transparent;
        border-right-color: rgb(255,1,77);
        border-width: 1vmin;
        border-radius: 0.15em;
        font-size: 1.2em;
    }

    .background{
        background-color: rgb(255, 1, 77);
        padding: 0.5vw 0.5vh;
        padding: 0.2vh 1vw;
        color: #eee;
        border-radius: 0.2em;
    }


    .main {
        width: 100%;
        height: 80vh;
        background-image: url('https://images.pexels.com/photos/3101504/pexels-photo-3101504.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
        background-attachment: fixed;
        background-position:bottom;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: inset 0px -200px 400px black;
    }
    .az {
        text-decoration: none;
        font-size: 8vh;
        color: white;
        text-shadow: 1px 0px black;
        text-shadow: 1px 1px black;
        filter:drop-shadow(200);
        text-shadow: 0 1px 0 #ddd, 0 2px 0 #333333, 0 3px 0 #333333, 
    0 4px 0 #333333, 
    0 5px 0 #333333, 
    0 6px 1px rgba(0,0,0,.1), 
    0 0 5px rgba(0,0,0,.1), 
    0 1px 3px rgba(0,0,0,.3), 
    0 3px 5px rgba(0,0,0,.2), 
    0 5px 10px rgba(0,0,0,.25), 
    0 10px 10px rgba(0,0,0,.2), 
    0 20px 20px rgba(0,0,0,.15);
    transition: .5s all ease;
    }
    a:hover {
        color: white;
        text-decoration: none;
    }
        
    

    .content {
        height: 100vh;
        font-size: 1.5em;
        text-align: right;
    }
</style>
</body>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
  </script>
</html>