<%- include('../common/head2.ejs') %> <%- include('../common/nav.ejs') %> 

    <body data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0">
        <div class="main aos-init aos-animate" data-aos="fade-down" data-aos-delay="300" data-aos-duration="600">
            <a class="az" href="#content" data-aos="zoom-in" data-aos-delay="800" data-aos-duration="400" >
                الوقت
            </a>
        </div>
        <div class="content" id="content">
            <h2 data-aos="fade-up">
                ليش بدي عيّر وقت شو الفايدة شو الفرق؟
            </h2>
            <h3 data-aos="fade-up">الوقت مهم كتير وعنصر اساسي بالدرس بساعد بـ :</h3>
            <br>
            <div   data-aos="flip-right" data-aos-duration="400" data-aos-delay="00">
                <span class="highlight">التحفيز</span> <br> <span>لما تحط وقت اول شي -قبل ما تبلش- قديش بدو ياخد معك الدرس، بتصير تتسابق انت والساعة<span class="background">لتخلص باسرع وقت ممكن</span></span>.
            </div>
            <br>
            <div data-aos="flip-right" data-aos-duration="400" data-aos-delay="300">
                <span class="highlight">تنظيم الاولويات التانية</span> <br>لما تحط وقت للدرس، بتصير عارف <span class="background">اديش باقي معك وقت</span> لانشطتك التانية، وببطل الدرس ماخد كل اليوم حرفيا ومنكد نهارك.
            </div>
            <br>
            <div data-aos="flip-right" data-aos-duration="400" data-aos-delay="500">
                <span class="highlight">التركيز</span><br>لما تكون حاطط وقت ومستعجل عم تحاول تخلص الدرس، اجباري <span class="background">بزيد تركيزك</span> لانك اخدتها جد وبدك تخلص بسرعة لتقوم عانشطتك وحياتك.
            </div>
            <br>
            <h2 data-aos="fade-up">
                سألني هلق كيف بعرف اديش بدو الدرس معي وقت؟
            </h2>
            <h3 data-aos="fade-right" data-aos-duration="400" data-aos-delay="500">
                (ح اعتبرك سألت)
            </h3>
            <div data-aos="flip-right" data-aos-duration="400" data-aos-delay="700">
                اول شي ح يكون الموضوع مش كتير دقيق اذا ما كنت مجرب تنظم وقتك من قبل، فطبيعي تغلط اول كم مرة ويزيد وقت درسك او ينقص 10 دقايق مثلا
            </div>
            <div data-aos="flip-right" data-aos-duration="400" data-aos-delay="900">
                عالتجربة، وكل مرة عم بتقيس وتشوف اديش اخد معك وقت فعليا، بتصير تصحح وعالممارسة بتصير تقدّر 100% صح الوقت
            </div>
            <div data-aos="flip-right" data-aos-duration="400" data-aos-delay="200">
                الوقت اللي بدك تحطو بدو يكون حسب قديش سرعتك بالقراءة والفهم، وانت عم تتذكر خطوات الحفظ وبتقدّر ساعتها اديش بياخدو معك
            </div>
            <div data-aos="flip-right" data-aos-duration="400" data-aos-delay="400">
                فيك كمان اذا انت مقسم الدرس تتوقع لكل جزء وقت هيك بكون اسهل وادق
            </div>
            <div data-aos="flip-right" data-aos-duration="400" data-aos-delay="600">
                بس اهم شي وقت الدرس يكون للدرس 100%، ما تتضيع منو ولا لحظة، ميوت للتلفون كليا، خبر اللي حواليك انك بدك تدرس وبحاجة تركز هالوقت (اللي حددتو)، وجهز كل شي بحاجتو بالدرس قبل ما تبلش
            </div>
            <h2 data-aos="fade-up" data-aos-duration="400" data-aos-delay="600">
                ايمتى؟
            </h2>
            <div data-aos="fade-right" data-aos-duration="400" data-aos-delay="600">
                بيولوجيًّا، كل واحد الو وقت بالنهار بكون مركز في اكتر شي
            </div>
            <div data-aos="fade-right" data-aos-duration="400" data-aos-delay="600">
                لازم تكتشف "ساعتك الذهبية" هاي لتصير تدرس فيها، لانو اذا كنت مركز اكتر ح ياخد الدرس وقت اقل
            </div>
            <h3 data-aos="fade-right" data-aos-duration="400" style="padding: bottom 10vh; color:rgb(255,1,77);">
                واخيرا، القصة مش بعدد الساعات بل بفعاليتها
            </h3>
        </div>
    <style>
        * {
            font-family: "Changa", sans-serif;
            scroll-behavior: smooth;
            margin: 0;
        }

        div>div{
            padding: 2vh;
        }

        div>h2{
            padding: 1vw;
            color: rgb(255, 1, 77);
            font-size: 1.5em;
        }

        div>h3{
            padding: 4vw;
        }

        .highlight{
            color: rgb(255,1,77);
            padding-right: 1vh;
            border-right-style: solid;
            border-color: transparent;
            border-right-color: rgb(255,1,77);
            border-width: 1vmin;
            border-radius: 0.15em;
            font-size: 1.2em;
        }

        .background{
            background-color: rgb(255, 1, 77);
            padding: 0.5vw 0.5vh;
            padding: 0.2vh 1vw;
            color: #eee;
            border-radius: 0.2em;
        }

        body {
            background-image: url('https://cdn.discordapp.com/attachments/931247863491620914/946456193898012693/homebg.png');
            background-position: center;
            background-size: cover;
        }
        .main {
            width: 100%;
            height: 80vh;
            background-image: url('https://images.pexels.com/photos/6857207/pexels-photo-6857207.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
            background-attachment: fixed;
            background-position:bottom;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: inset 0px -200px 400px black;
        }
        .az {
            text-decoration: none;
            font-size: 8vh;
            color: white;
            text-shadow: 1px 0px black;
            text-shadow: 1px 1px black;
            filter:drop-shadow(200);
            text-shadow: 0 1px 0 #ddd, 0 2px 0 #333333, 0 3px 0 #333333, 
        0 4px 0 #333333, 
        0 5px 0 #333333, 
        0 6px 1px rgba(0,0,0,.1), 
        0 0 5px rgba(0,0,0,.1), 
        0 1px 3px rgba(0,0,0,.3), 
        0 3px 5px rgba(0,0,0,.2), 
        0 5px 10px rgba(0,0,0,.25), 
        0 10px 10px rgba(0,0,0,.2), 
        0 20px 20px rgba(0,0,0,.15);
        transition: .5s all ease;
        }
        a:hover {
            color: white;
            text-decoration: none;
        }
            
        
    
        .content {
            height: 100vh;
            font-size: 1.5em;
            text-align: right;
        }
    </style>
    </body>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
      </script>
    </html>